MODEL_URL="http://localhost"
MODEL_PORT=8000

DB_URL="http://localhost"
DB_PORT=19530

USE_AIM=false

USERS_API_URL="http://localhost"
USERS_API_PORT=3000

LITERAL_API_KEY="literal_api_key_here"
LLAMA_PARSE_API_KEY="llama_parse_api_key_here"
CHAINLIT_AUTH_SECRET="chainlit_auth_secret_here"
OAUTH_GOOGLE_CLIENT_ID="oauth_google_client_id_here"
OAUTH_GOOGLE_CLIENT_SECRET="oauth_google_client_secret_here"