chainlit
transformers==4.34.0
sentence-transformers
ctransformers
ctransformers[cuda]
chromadb
langchain-community
langchain
PyPDFLoader
umap-learn
plotly
kaleido
#faltan agregar las librerias del umap